<a href="https://colab.research.google.com/github/mfoxio/Python-HW/blob/main/112_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Номер билета, ФИО студента, номер группы

Задача 1. 
Пример описания

In [4]:
#23
S = [1,2,3,4,5,6,7,8,9,0]
sum = 0
for i in range (len(S)):
  sum+=S[i]
print(sum)

45

In [5]:
#28
S = [1, 0, 1, 0, 1, 0, 1, 0, 1, 0]
k = 0
for i in range (len(S)):
  if S[i]==0:
    k+=1
print(k)

5

In [6]:
#34
n = int(input())
k=2
for i in range (2,n//2+1):
  if n%i == 0:
    k+=1
print(k)

17
2

In [7]:
#35
n = int(input())
m = int(input())
print(n**m)

2
5
32

In [12]:
#37
n = int(input())
sum = 0
while n > 0:
  sum += n%10
  n = n//10

print(sum)

113
5

In [6]:
#Задание 36
n = int(input())
fac = 1
for i in range (1,n):
  n = n *i
  fac = n
  print(fac)

4
4
8
24

In [18]:
#38
n = int(input())
pr = 1
while n != 0:
  pr = pr * (n%10)
  n = n//10
  print(pr)

333
3
9
27

In [20]:
#42
a, b = 6 , 14
i = min(a, b)
while True:
    if i%a==0 and i%b==0:
        break
    i += 1
print(i)

42

In [24]:
#41
a, b = 100, 55
i = max(a, b)
while True:
    if a%i==0 and b%i==0:
        break
    i -= 1
print(i)

5

In [27]:
#43
a = int(input())
b = int(input())
n = min(a,b)
for i in range (1,n+1):
  if a%i==0 and b%i==0:
    k=i
print(k)

35
25
5

In [40]:
#45
sp = ['a','b','a','b','f','g']
sp.sort()
print(sp)
k = 1
for i in range(len(sp)-1):
  if sp[i]!=sp[i+1]:
    k+= 1
print(k)

['a', 'a', 'b', 'b', 'f', 'g']
4

In [51]:
#46
sp = ['a','b','a','b','f','g']
sp.sort()
print(sp)
k = 1
s = []
s.append(sp[0])
for i in range(len(sp)-1):
  if sp[i]!=sp[i+1]:
    s.append(sp[i+1])
print(s)

['a', 'a', 'b', 'b', 'f', 'g']
['a', 'b', 'f', 'g']

Задача 2. Пример описания

In [ ]:
# Код писать тут